.game-screen.theme-coding {
  --game-bg: #303131;
  --game-text: #ffffff;
  --game-header-bg: #303131;
  --game-header-text: #ffffff;
  --game-header-radius: 0;

  --txt-name-orange: "Orange";
  --txt-name-blue: "Blue";
  --bg-score: #86e9d633;
  --bg-score-br: 0;

  --current-player-blue-bg: transparent;
  --current-player-orange-bg: transparent;
  --current-player-icon-box-radius: 0;
  --current-player-icon-size: 2.8rem;

  --font-txt: "redRose";

  --game-player-blue-image: url("/assets/images/themes/coding/label_blue.svg");
  --game-player-orange-image: url("/assets/images/themes/coding/label_orange.svg");
}

.game-screen.theme-gaming {
  --game-bg: #294f60;
  --game-text: #ffffff;
  --game-header-bg: #545d75;
  --game-header-text: #294f60;
  --game-header-radius: 10px;

  --txt-name-orange: "Orange";
  --txt-name-blue: "Blue";
  --bg-score: #ffffff;
  --bg-score-br: 8px;

  --current-player-blue-bg: #2bb1ff;
  --current-player-orange-bg: #f58e39;
  --font-txt: "orbitron";

  --game-player-blue-image: url("/assets/images/shared/chess_pawn_blue.svg");
  --game-player-orange-image: url("/assets/images/shared/chess_pawn_orange.svg");
}

.game-screen.theme-da-projects {
  --game-bg: #ffffff;
  --game-text: #ffffff;
  --game-header-bg: #f0f3f4;
  --game-header-text: #1e7594;
  --game-header-radius: 10px;

  --txt-name-orange: "Orange";
  --txt-name-blue: "Blue";
  --bg-score: #ffffff;
  --bg-score-br: 8px;

  --current-player-blue-bg: #2bb1ff;
  --current-player-orange-bg: #f58e39;
  --font-txt: "figTree";

  --game-player-blue-image: url("/assets/images/shared/chess_pawn_blue.svg");
  --game-player-orange-image: url("/assets/images/shared/chess_pawn_orange.svg");
}

.game-screen.theme-foods {
  --game-bg: #ffffff;
  --game-text: #2f1b00;
  --game-header-bg: #f0e5d9;
  --game-header-text: #f3832d;
  --game-header-radius: 10px;

  --txt-name-orange: "Orange";
  --txt-name-blue: "Blue";
  --bg-score: #ffffff;
  --bg-score-br: 8px;

  --current-player-blue-bg: #2bb1ff;
  --current-player-orange-bg: #f58e39;
  --font-txt: "kleeOne";

  --game-player-blue-image: url("/assets/images/shared/chess_pawn_blue.svg");
  --game-player-orange-image: url("/assets/images/shared/chess_pawn_orange.svg");
}
