.game-screen.theme-coding {
  --game-bg: #303131;
  --game-text: #ffffff;
  --game-accent: #f0ea6e;
  --game-header-bg: #303131;
  --border-exit: solid 1px #4dd5bc;
  --border-radius-exit: 0;
  --color-exits-tx: #ffffff;
  --tx-name-orange: "Orange";
  --tx-name-blue: "Blue";
  --bg-score-br: 0px;
  --current-player-blue-bg: transparent;
  --current-player-orange-bg: transparent;
  --current-player-icon-box-padding: 0;
  --current-player-icon-box-radius: 0;
  --current-player-icon-size: 2.8rem;

  --game-player-blue-image: url("/assets/images/themes/coding/label_blue.svg");
  --game-player-orange-image: url("/assets/images/themes/coding/label_orange.svg");
  --game-exit-icon: url("/assets/images/themes/coding/exit.webp");
  --bg-score: #86e9d633;
}

.game-screen.theme-gaming {
  --game-bg: #303131;
  --game-text: #ffffff;
  --game-accent: #6ee7f0;
  --game-header-bg: #545d75;
  --border-exit: solid 1px #e71c4f;
  --color-exits-tx: #ffffff;
  --border-radius-exit: 10px;
  --bg-score-br: 8px;
  --current-player-blue-bg: #2bb1ff;
  --current-player-orange-bg: #f58e39;

  --game-player-blue-image: url("/assets/images/shared/chess_pawn_blue.svg");
  --game-player-orange-image: url("/assets/images/shared/chess_pawn_orange.svg");
  --game-exit-icon: url("/assets/images/themes/gaming/exit.webp");
  --bg-score: white;
}

.game-screen.theme-da-projects {
  --game-bg: #ffffff;
  --game-text: #ffffff;
  --game-accent: #c9a7ff;
  --game-header-bg: #f0f3f4;
  --color-exits-tx: #1e7594;
  --border-exit: none;
  --border-radius-exit: 10px;
  --bg-score: white;
  --bg-score-br: 8px;
  --current-player-blue-bg: #2bb1ff;
  --current-player-orange-bg: #f58e39;

  --game-player-blue-image: url("/assets/images/shared/chess_pawn_blue.svg");
  --game-player-orange-image: url("/assets/images/shared/chess_pawn_orange.svg");
  --game-exit-icon: url("/assets/images/themes/da-projects/exit.svg");
}

.game-screen.theme-foods {
  --game-bg: #ffffff;
  --game-text: #2f1b00;
  --game-accent: #fff2b8;
  --game-header-bg: #f0e5d9;
  --border-exit: solid 1px #f3832d;
  --color-exits-tx: #f3832d;
  --border-radius-exit: 10px;
  --bg-score: white;
  --bg-score-br: 8px;
  --current-player-blue-bg: #2bb1ff;
  --current-player-orange-bg: #f58e39;

  --game-player-blue-image: url("/assets/images/shared/chess_pawn_blue.svg");
  --game-player-orange-image: url("/assets/images/shared/chess_pawn_orange.svg");
  --game-exit-icon: url("/assets/images/themes/foods/exit.svg");
}
