/* Result Themes */

.result-screen--coding {
  --result-bg: #303131;
  --result-text: #ffffff;
  --result-subtitle: #ffffff;
  --result-title: #58e0ca;
  --result-button-bg: #6fa194;
  --result-button-text: #ffffff;
}

.result-screen--coding.result-screen--orange {
  --result-title: #ff8a26;
  --result-winner-image: url("/assets/images/themes/coding/player_orange.webp");
}

.result-screen--coding.result-screen--blue {
  --result-title: #28aefc;
  --result-winner-image: url("/assets/images/themes/coding/player_blue.webp");
}

.result-screen--coding.result-screen--draw {
  --result-draw-image: url("/assets/images/themes/coding/Scale_Icon.png");
}

.result-screen--gaming {
  --result-bg: #275568;
  --result-text: #ffffff;
  --result-subtitle: #ffffff;
  --result-title: #ff258b;
  --result-button-bg: #a24685;
  --result-button-text: #ffffff;
}

.result-screen--gaming.result-screen--winner {
  --result-winner-image: url("/assets/images/themes/gaming/pockal.webp");
}

.result-screen--gaming.result-screen--orange {
  --result-title: #ff8426;
}

.result-screen--gaming.result-screen--blue {
  --result-title: #1ea7ff;
}

.result-screen--gaming.result-screen--draw {
  --result-draw-image: url("/assets/images/themes/gaming/Scale_Icon.webp");
}

.result-screen--da-projects {
  --result-bg: #23819a;
  --result-text: #ffffff;
  --result-subtitle: #ffffff;
  --result-title: #ff5f59;
  --result-button-bg: #dff8ff;
  --result-button-text: #23819a;
}

.result-screen--da-projects.result-screen--orange,
.result-screen--da-projects.result-screen--blue {
  --result-title: #ffffff;
}

.result-screen--da-projects.result-screen--orange {
  --result-winner-image: url("/assets/images/themes/da-projects/Player_orange.webp");
}

.result-screen--da-projects.result-screen--blue {
  --result-winner-image: url("/assets/images/themes/da-projects/Player_blue.webp");
}

.result-screen--da-projects.result-screen--draw {
  --result-draw-image: url("/assets/images/themes/da-projects/Scale_icon%20(1).png");
}

.result-screen--foods {
  --result-bg: #ff8426;
  --result-text: #ffffff;
  --result-subtitle: #ffffff;
  --result-title: #ffffff;
  --result-button-bg: #ff8426;
  --result-button-text: #ffffff;
}

.result-screen--foods.result-screen--winner,
.result-screen--foods.result-screen--draw {
  --result-bg: #f7f7f7;
  --result-text: #d46f28;
  --result-subtitle: #d46f28;
  --result-title: #d46f28;
}

.result-screen--foods.result-screen--orange {
  --result-winner-image: url("/assets/images/themes/foods/payer_win_orange.webp");
}

.result-screen--foods.result-screen--blue {
  --result-title: #1686c4;
  --result-winner-image: url("/assets/images/themes/foods/player_win_blue.webp");
}

.result-screen--foods.result-screen--draw {
  --result-draw-image: url("/assets/images/themes/foods/scale_icon.webp");
}
