body {
  margin: 0;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

input {
  cursor: pointer;
}
