@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.home-screen {
  @include flex-center(column);
  height: 100vh;
  gap: 4em;

  background-color: #2f3131;
  background-image: url("/assets/images/base/play-controller.webp");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 0% 95%;

  p {
    margin: 0;
    color: white;
    font-size: clamp(2rem, 4vh, 7rem);
    font-family: "almarai";
    font-weight: 200;
  }

  span {
    font-family: "redRose";
  }

  h1 {
    margin-top: 6px;
    margin-bottom: 0;
    color: white;
    font-size: clamp(6rem, 7vh, 8rem);
    font-family: "redRose";
  }
}

.home-screen__play-button {
  @include flex-center;
  gap: 1.2rem;

  padding: 1rem;
  background-color: #f0ea6e;
  color: #303131;

  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 800;

  transition:
    transform 180ms ease,
    box-shadow 180ms ease;

  img {
    width: clamp(1rem, 5vw, 3.5rem);
    transform: rotate(0deg);
    transition: transform 180ms ease;
  }

  &:hover {
    transform: scale(1.04);

    img {
      transform: rotate(-20deg) translateY(-0.15em);
    }

    .home-screen__arrow-bg {
      background-image: url("/assets/images/base/arrow-right-hover.svg");
    }
  }
}

.home-screen__arrow-bg {
  width: 2rem;
  height: 3rem;

  background-image: url("/assets/images/base/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
