@font-face {
  font-family: "figTree";
  src: url("/assets/fonts/Figtree/static/Figtree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "almarai";
  src: url("/assets/fonts/Almarai/Almarai-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "kleeOne";
  src: url("/assets/fonts/Klee_One/KleeOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "orbitron";
  src: url("/assets/fonts/Orbitron/static/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "redRose";
  src: url("/assets/fonts/Red_Rose/RedRose-Bold.ttf") format("truetype");
  font-weight: 400;
}
