body {
  margin: 0;
}

section {
  height: 100vh;
}

button {
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

input {
  cursor: pointer;
}

.home-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2f3131;
  background-image: url(/assets/images/shared/play-controller.webp);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 0% 95%;

  p {
    margin: 0;
    font-size: clamp(2rem, 4vh, 7rem);
    color: white;
  }

  h1 {
    color: white;
    font-size: clamp(3rem, 5vh, 8rem);
  }
}

.home-screen__play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 2em;
  background-color: #f0ea6e;
}

.setup-screen {
  padding: 5em;
}

.setup-screen__header {
  h1 {
    margin: 0;
    font-size: clamp(2rem, 4vh, 7rem);
  }

  img {
    position: relative;
    right: 1em;
  }
}

.setup-group {
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding-bottom: 1em;
}

.setup-group__title {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.setup-group__content {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0.5em;
  }
}

.setup-screen__summary {
  display: flex;
  justify-content: flex-end;
}

.setup-screen__summary-item {
  display: flex;
  background-color: #f6f6f6;
  align-items: center;
  padding: 1em 1em;
}

.setup-screen__bg-color-decor {
  background-color: #f6f6f6;
  width: 1.2em;
}

.setup-screen__start-button {
  background-color: #f0ea6e;
  padding: 1em;
}

.setup-screen__layout {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.setup-screen__theme-preview {
  min-width: 280px;
}

.setup-screen__theme-preview-card {
  background: #f6f6f6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.setup-screen__theme-preview-image {
  width: 100%;
  max-width: 260px;
  display: block;
  margin-bottom: 1rem;
}
